[Unit]
Description=Daily Restic Backup to Google Drive
Documentation=https://restic.readthedocs.io

[Timer]
OnCalendar=*-*-* 03:00:00
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
